<link href="~/css/Usuarios/Usuarios.css" rel="stylesheet"/>

<h1 class="my-5">Usuarios</h1>
<button class="btn btn-danger mb-5" id="agregarUsuario" onclick="GuardarUsuario()">Agregar Usuario</button>
<table id="usuarios" class="table table-striped" style="width:100%"></table>

<div id="usuariosAddPartial"></div>

<script src="~/js/Usuarios/Usuarios.js"></script>