<link href="~/css/Servicios/Servicios.css" rel="stylesheet"/>

<h1 class="my-5">Servicios</h1>
<button class="btn btn-danger mb-5" id="agregarServicio" onclick="GuardarServicio()">Agregar Servicio</button>
<table id="servicios" class="table table-striped" style="width:100%"></table>

<div id="serviciosAddPartial"></div>

<script src="~/js/Servicios/Servicios.js"></script>