<link href="~/css/Productos/Productos.css" rel="stylesheet"/>

<h1 class="my-5">Productos</h1>
<button class="btn btn-danger mb-5" id="agregarProducto" onclick="GuardarProducto()">Agregar Producto</button>
<table id="productos" class="table table-striped" style="width:100%"></table>

<div id="productosAddPartial"></div>

<script src="~/js/Productos/Productos.js"></script>