@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Proyecto IT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="~/css/Login/Login.css" rel="stylesheet"/>

</head>
<body class="img js-fullheight" style="background-image: url(/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Proyecto IT</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Tienes una cuenta?</h3>
                        <form action="Login/LoginLocal" class="signin-form" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Mail" name="Mail" required/>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="Contraseña" name="Password"/>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Ingresar</button>
                            </div>
                            <div class="form-group">
                                <p class="error-login">@ViewBag.ErrorLogin</p>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-md-left">
                                    <a style="color:#fff" asp-controller="Login" asp-action="CrearCuenta">Crear Cuenta</a>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a style="color:#fff" asp-controller="Login" asp-action="OlvidoClave">Olvido su Contraseña</a>
                                </div>
                            </div>
                        </form>
                        <p class="w-100 text-center">O Ingresar con</p>
                        <div class="social d-flex text-center">
                            <a asp-controller="Login" asp-action="LoginGoogle" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-google mr2"></span> Google</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/f8fcaa487b.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap//dist/js/bootstrap.js"></script>
    <script src="~/lib/popper/dist/popper.js"></script>
    <script src="~/js/Login/Login.js"></script>
</body>
</html>
