<link href="~/css/Roles/Roles.css" rel="stylesheet"/>

<h1 class="my-5">Roles</h1>
<button class="btn btn-danger mb-5" id="agregarRol" onclick="GuardarRol()">Agregar Rol</button>
<table id="roles" class="table table-striped" style="width:100%"></table>

<div id="rolesAddPartial"></div>

<script src="~/js/Roles/Roles.js"></script>