@model ProyectoIt2.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Bienvenidos";
}

@Html.HiddenFor(x=> x.Token)

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
</div>

<script src="~/js/Home/Home.js"></script>