<div class="row justify-content-center">
    <div class="text-center"><h1>Chat Proyecto IT</h1></div>
    <div class="mb-2">
        <input class="form-control mb-1" type="text" id="usuario" placeholder="Introduzca su usuario" />
        <input class="form-control" type="text" id="mensaje" placeholder="Introduzca su mensaje" />
        <div>
            <button class="btn btn-success mt-2" type="button" id="btnEnviar">Enviar</button>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10">
        <ul class="list-group" id="mensajes"></ul>
    </div>
</div>

<script src="~/js/Chat/Chat.js"></script>